{% extends "base.html" %}
{% block title %}Yeni Hasta Ekle{% endblock %}

{% block content %}
<div class="container">
    <h1>Yeni Hasta Ekle</h1>
    <form method="POST">
        <div class="form-group">
            <label for="ad">Ad:</label>
            <input type="text" class="form-control" id="ad" name="ad" required>
        </div>
        <div class="form-group">
            <label for="soyad">Soyad:</label>
            <input type="text" class="form-control" id="soyad" name="soyad" required>
        </div>
        <div class="form-group">
            <label for="dogum_tarihi">Doğum Tarihi:</label>
            <input type="date" class="form-control" id="dogum_tarihi" name="dogum_tarihi" required>
        </div>
        <div class="form-group">
            <label for="cinsiyet">Cinsiyet:</label>
            <select class="form-control" id="cinsiyet" name="cinsiyet" required>
                <option value="Erkek">Erkek</option>
                <option value="Kadın">Kadın</option>
            </select>
        </div>
        <div class="form-group">
            <label for="telefon_numarasi">Telefon Numarası:</label>
            <input type="tel" class="form-control" id="telefon_numarasi" name="telefon_numarasi" required>
        </div>
        <div class="form-group">
            <label for="adres">Adres:</label>
            <textarea class="form-control" id="adres" name="adres" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Ekle</button>
        <a href="{{ url_for('hastalar') }}" class="btn btn-secondary">Geri</a>
    </form>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("dogum_tarihi")[0].setAttribute('max', today);
    });
</script>
{% endblock %}
